.product {
  display: table;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid black;
}
.product img {
  float: left;
}
.product aside {
  color: purple;

}
.product figure {
  float: left;
}
